*{margin: 0;padding: 0;}
.bigbox {
    width: 1000px;
    margin: 0 auto;
    border: 5px solid tan;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}
.bigbox .box {
    border: 5px solid tan;
    width: 150px;
    height: 200px;
}
.bigbox .box1 {
    background: url(../images/a1.jpg) no-repeat 50% 50%;
    transition: all 0.3s;
    background-size: 100%;
}
.bigbox .box1:hover{
    background-size: 120%;
}
.bigbox .box2 {
    background: url(../images/aa1.jpg) no-repeat 0% 0%;
    transition: all 0.3s;
}
.bigbox .box2:hover{
    background: url(../images/aa1.jpg) no-repeat 0% 100%;
}
.bigbox .box3 {
    background: url(../images/ab1.jpg) no-repeat 0% 0%;
    transition: all 0.3s;
}
.bigbox .box3:hover{
    background: url(../images/ab1.jpg) no-repeat 100% 0;
}
.bigbox .box4 {
    background: url(../images/a4.jpg) no-repeat 0% 0%;
    transition: all 0.3s;
    position: relative;
}
.bigbox .box4::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 200px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.3s;
}
.bigbox .box4:hover::before{
    width: 150px;
}
.bigbox .box5 {
    background: url(../images/a5.jpg) no-repeat 0% 0%;
    transition: all 0.3s;
    position: relative;
}
.bigbox .box5::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 200px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.3s;
}
.bigbox .box5:hover::before{
    width: 150px;
}
.bigbox .box5::after{
    content: '패르시안고양이 \A 우아하고기품있는 \A 2살먹은 고양이';
    white-space: pre;
    text-align: center;
    position: absolute;
    width: 150px;
    height: 50%;
    top: 30%;
    left: 0;
    color: #fff;
    transition: all 0.3s;
    opacity: 0;
}
.bigbox .box5:hover::after{
    opacity: 1;
}