@charset "utf=8";

#list_wrap {
    width: 1600px;
    margin: 0 auto;
}
#list_wrap2 {
    width: 1500px;
    margin: 0 auto;
}
/* sec1 */
#sec1 {
    position: relative;
    height: 296px;
}
#sec1 {
    width: 1600px;
    height: 270px;
    margin-top: 36px;
}
#sec1 #main_txt {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 121px;
    left: 165px;
    color: white;
}
#sec1 b {
    font-size: 34px;
    margin-bottom: 16px;
    opacity: 0;
    transform: translateX(30px);
    animation: main_txt 1s .5s forwards;
    font-weight: 700;
}

@keyframes main_txt {
    0% {transform: translateX(-40px); opacity:0;}
    100% {transform: translateX(0); opacity:1;} /* 30일때는 투명도0이고 위치0일때는 보여야하기때문에 1 */
}

#sec1 span {
    font-size: 12px;
    font-weight: lighter;
    padding-bottom: 4px; 
    opacity: 0;
    transform: translateX(30px);
    animation: main_txt 1s 1s forwards;
}

/* filter */
#filter > ul {
    display: flex;
    height: 62px;
    padding: 0 77px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.199);
}
#filter .dep1 > li > a {
    font-size: 12px;
    position: relative;
    top: 36%;
    margin-right: 40px;
    letter-spacing: 1px;
    height: 20px;
}
#filter .dep1 > li > a:hover {
    border-bottom: 3px solid pink;
    font-weight: 700;
}
.dep2 {
    position: absolute;
    width: 150px;
    top: 40%;
    left: 10%;
    padding: 16px;
    background: white;
    box-shadow: 1px 5px 10px rgba(128, 128, 128, 0.247);
    font-size: 12px;
    display: none;
}
.dep2 li {
    padding: 8px;
}
.dep1 > li:hover > .dep2 {
    display: block;
}
.dep2 a:hover {
    font-weight: 700;
}
#collections {
    position: absolute;
    top: 40%;
    left: 16%;
    width: 200px;
}
#with {
    position: absolute;
    top: 40%;
    left: 22%;
    width: 180px;
}
#themes {
    position: absolute;
    top: 40%;
    left: 29%;
}
#metal {
    position: absolute;
    top: 40%;
    left: 34%;
}
#color {
    position: absolute;
    top: 40%;
    left: 40%;
}
#size {
    position: absolute;
    top: 40%;
    left: 43%;
}
#price {
    position: absolute;
    top: 40%;
    left: 47%;
    width: 190px;
}
.dep2 > li > img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.dep2 > li > input {
    vertical-align: middle;
    margin-right: 5px;
}
#filter .right {
    display: flex;
    justify-content: flex-end; 
    margin-left: 527px;
}
#filter .right label {
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;
    position: relative;
    top: 0;
    left: 0;
    font-family: PanText;
    font-weight: 400;
    font-size: 12px;
    color: rgb(115,114,110);
    line-height: 62px;
}
#filter .right label::after {
    width: 1px;
    height: 16px;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgb(185,186,187);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#filter .right select {
    width: 100%;
    height: 25px;
    margin: 20px 0 0;
    padding: 0 12px 0 0;
    position: relative;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 12px;
    color: rgb(51,51,51);
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: 67px 9px;
    background-image: url(../assets/images/list_neckEarring/filter.svg);
    background-size: 8px 4px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
}
/* text-animation */



/* sec2 */
#sec2 #sub {
    text-align: center;
    font-size: 12px;
}
#sec2 #sub p {
    margin-top: 71px;
}
#sec2 {
    height: 920px;
    background: #F5F5F5;
}
#sec2 #sub_img {
    width: 650px;
    height: 750px;
    margin: 8px 50px 15px 50px;
}
#sec2 #sub_img_hover {
    width: 650px;
    height: 750px;
    margin: 8px 50px 0 50px;
}
#sec2 {
    display: flex;
}
#sec2 ul {
    display: flex;
    flex-wrap: wrap;
}
#sec2 ul img {
    width: 321px;
    height: 321px;
}
#sec2 li {
    padding: 0 27px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}
#sec2 p {
    margin: 60px 0 30px 0;
}
/* hover */
#sec2 ul > li img {
    transition: all 0.2s;
}
#sec2 ul > li img:hover {
    transform: scale(1.1);
}




/* sec3 */
#sec3 {
    height: 1100px;
    background: #F5F5F5;
}
#sec3 ul {
    display: flex;
    flex-wrap: wrap;
}
#sec3 ul img {
    width: 321px;
    height: 321px;
    margin-top: 60px;
}
#sec3 li {
    padding: 0 27px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}
#sec3 p {
    margin: 60px 0 30px 0;
}
/* hover */
#sec3 ul > li img {
    transition: all 0.2s;
}
#sec3 ul > li img:hover {
    transform: scale(1.1);
}



/* sec4 */
#sec4 {
    height: 200px;
}
#sec4 img {
    width: 187px;
    height: 187px;
}
#sec4 img:hover {
    opacity: .5;
    transition: .5s;
}
#sec4 ul {
    display: flex;
    padding: 100px;
    justify-content: center;
}
#sec4 li {
    padding: 0 30px;
}
#sec4 #button, button { 
    text-align: center; 
}
#sec4 h4 { 
    font-size: 21px; 
} 
#sec4 p { 
    font-size: 14px; 
    padding-bottom: 20px; 
} 
#sec4 input{ 
    width: 395px; 
    height: 40px; 
    border: 1px solid rgba(128, 128, 128, 0.276); 
    padding: 6px; 
    margin-bottom: 30px; 
}
#sec4 button {
    width: 134px;
    height: 35px;
    background: #fecad48a;
}
#sec4 button:hover {
    background: #916f768a;
}
