@charset "utf-8";
@import url(reset.css);
@import url(typo.css);

/* 작업중 */
body * {
    outline: 1px solid red;
}

/* 레이아웃 : 전체구조 */
.container {
    width: 960px;
    margin: 0 auto;
    background-color: lightgreen;
}

.counter {
    background-color: #777;
}

footer {
    background-color: #777;
}
/* 패럴렉스 스크롤링(Parallax Scorolling) */
.pearallax {
    height: 400px;
    background: no-repeat center/cover fixed;
}

/* 헤더 */
header {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 44px;
    padding: 10px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    background-color: #fff;
}

/* 내비게이션 */
#gnb li {
    float: left;
}

#gnb a {
    padding: 8px 16px;
}

#gnb a:hover {
    background-color: #aaa;
}

/* 섹션1 패럴렉스 이미지 */
/* 단위 : px, %, em, rem, vw, vh, vimin, vlmax */
#sec1 {
    position: relative;
    height: 100vh;
    background-image: url(../images/parallax1.png);
}

#sec1 h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -90.5px;
    margin-top: -90.5px;
}

/* 메인타이틀 */

/* 섹션2 나의소개 */
/* 기본프로필 */
.basic p:nth-of-type(1) {
    margin-bottom: 48px;
}

/* 이미지 */
.my_pic {
    float: left;
    width: 425px;
    margin-right: 48px;
    margin-left: 24px;
}

.container h2 {
    text-align: center;
}

/* 스킬 : 프로그래스바(progressbar) */
/* 카운터(counter) */
.counter {
    padding: 32px 0;
}

.counter li {
    float: left;
    width: 25%;
}

.counter span {
    display: block;
}

/* 섹션3 : 작품 */
#sec3 .pearallax {
    background-image: url(../images/parallax2.png)
}
.pf li {
    float: left;
    width: 225px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.pf li:nth-of-type(4N) {
    margin-right: 0;
}

/* 섹션4 : 연락처 */
#sec4 .pearallax {
    background-image: url(../images/parallax3.png);
}
.map {
    float: left;
    width: 284px;
}

.right {
    float: right;
    width: 640px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
}

input:nth-of-type(1) {
    float: left;
    width: 49%;
}

input:nth-of-type(2) {
    float: right;
    width: 49%;
}

input:nth-of-type(3) {
    float: left;
    display: block;
    width: 100%;
}

/* 푸터 */
