@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

html {font-size: 10px;}
body {font: 1.5em/1.8 'Noto Sans KR', sans-serif;}

a {
    color: #111;
}
h2 {
    text-align: center;
}
h2+p {
    text-align: center;
}
.skill span {
    text-align: center;
}
.counter {
    text-align: center;
    color: #fff;
}
.counter span {
    font-size: 2.4em;
}
.pearallax {
    text-align: center;
}
.pearallax span {
    letter-spacing: 10px;
    font-size: 3.6em;
    line-height: 400px;
    color: #fff;
}
footer {
    color: #fff;
    text-align: center;
}
footer a {
    color: #fff;
}
footer .copy {
    color: yellow;
}